html{
  background-image: url('https://ae01.alicdn.com/kf/HTB1dMMhSXXXXXXkXFXXq6xXFXXXu/10x10FT-Cityscape-Skyscraper-Cartoon-Downtown-City-Buildings-Clouds-Blue-Sky-Photography-Studio-Backdrops-Backgrounds-Vinyl-3x3m.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcomePageBackground{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage{
  width: 100rem;
  height: 80rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header{
  font-size: 4rem;
  margin-top: 12rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 80rem;
  margin-left: 10%;
}
.X{
  font-size: 4rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader{
  font-family: 'Unbounded', cursive;
  width: 80rem;
  margin-left: 10%;
  font-size: 3rem;
  color: white;
}

.rules{
  font-family: 'Unbounded', cursive;
  width: 80rem;
  margin-left: 10%;
  font-size: 3rem;
  color: white;
  padding-top: 1rem;
}

.instruction{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 60%;
  margin-left: 25%;
}

.title{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 5rem;
  font-weight: bold;
}

.city{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard{
  width: 49rem;
  height: 25rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 4rem;
  height: 14rem;
  width: 23rem;
  background-color: transparent;
  border: 0;
}

.cityPopulation{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
}

.padding{
  padding: 4rem
}

.button{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
}


/* ================================================================================================================================ */
.welcomePageBackground2{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage2{
  width: 55rem;
  height: 35rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header2{
  font-size: 2.5rem;
  margin-top: 3rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 45rem;
  margin-left: 8%;
}
.X2{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader2{
  font-family: 'Unbounded', cursive;
  width: 45rem;
  margin-left: 11%;
  font-size: 1.5rem;
  color: white;
}

.rules2{
  font-family: 'Unbounded', cursive;
  width: 45rem;
  margin-left: 11%;
  font-size: 1.5rem;
  color: white;
  padding-top: .5rem;
}

.instruction2{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 60%;
  margin-left: 25%;
}

.title2{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 5rem;
  font-weight: bold;
}

.city2{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard2{
  width: 45rem;
  height: 25rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName2{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 3.5rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton2{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 4rem;
  height: 14rem;
  width: 23rem;
  background-color: transparent;
  border: 0;
}

.cityPopulation2{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
}

.padding2{
  padding: 4rem
}

.button2{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
}
/* ================================================================================================================================ */
.welcomePageBackground3{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage3{
  width: 35rem;
  height: 20rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header3{
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 25rem;
  margin-left: 9%;
}
.X3{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader3{
  font-family: 'Unbounded', cursive;
  width: 25rem;
  margin-left: 11%;
  font-size: 1rem;
  color: white;
}

.rules3{
  font-family: 'Unbounded', cursive;
  width: 24rem;
  margin-left: 11%;
  font-size: .9rem;
  color: white;
  padding-top: .3rem;
}

.instruction3{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 50%;
  margin-left: 25%;
}

.title3{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
  font-weight: bold;
}

.city3{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard3{
  width: 25rem;
  height: 20rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName3{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 2rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton3{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 3rem;
  height: 10rem;
  width: 20rem;
  background-color: transparent;
  border: 0;
  margin-top: 10%;
}

.cityPopulation3{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.486);
}

.padding3{
  padding: 4rem
}

.button3{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
}