html{
  background-image: url('https://ae01.alicdn.com/kf/HTB1dMMhSXXXXXXkXFXXq6xXFXXXu/10x10FT-Cityscape-Skyscraper-Cartoon-Downtown-City-Buildings-Clouds-Blue-Sky-Photography-Studio-Backdrops-Backgrounds-Vinyl-3x3m.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcomePageBackground{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage{
  width: 100rem;
  height: 60rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header{
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 75rem;
  margin-left: 12.5%;
}
.X{
  font-size: 3rem;

  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader{
  font-family: 'Unbounded', cursive;
  width: 80rem;
  margin-left: 14%;
  font-size: 2.5rem;
  color: white;
}

.rules{
  font-family: 'Unbounded', cursive;
  width: 75rem;
  margin-left: 14%;
  font-size: 2.5rem;
  color: white;
  padding-top: 1rem;
}

.instruction{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 60%;
  margin-left: 25%;
}

.title{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 5rem;
  font-weight: bold;
}

.city{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard{
  width: 49rem;
  height: 25rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 4rem;
  height: 14rem;
  width: 23rem;
  background-color: transparent;
  border: 0;
}

.cityPopulation{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
}

/* .padding{
  padding-left: 4rem
} */

.button{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
  display: flex
}

.criminalCard{
  background-image: url('https://media.istockphoto.com/vectors/wood-texture-background-illustration-vector-vector-id1191803750?k=6&m=1191803750&s=612x612&w=0&h=WaDKJNob9uIuDUuywyUExCFdueZOTn3QpYgVL7IOxwA=');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 5px solid;
  height: 63rem;
  width: 110rem;
  display: flex;
  margin: auto
}

.criminalCard::-webkit-scrollbar{
  width: 10;
}
.wantedPoster{
  text-align: center;
  position: relative;
  height: 46rem;
  width: 35rem;
  text-align: center;
  display: flex;
  margin-left: 5rem;
  /* border: 2px solid; */
}


.card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card:hover {
  transform: rotateY(180deg)
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front{
  background-image: url('https://i.pinimg.com/originals/97/c1/fb/97c1fb00d62209f4b7646327cffe1405.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

.back{
  background-image: url('https://oakdome.com/k5/lesson-plans/photo-editing/wanted-poster/blank-wanted-poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transform: rotateY(180deg);
  border: 5px solid rgb(138, 90, 0);
  font-family: 'Permanent Marker', cursive;
  overflow: auto;
  width: 98.5%;
  height: 98.5%;
}

.back::-webkit-scrollbar{
  width: 0;
}

.image{
  margin-top: 10.5rem;
  height: 18rem;
  width: 26.5rem;
  border: 5px solid rgb(138, 90, 0);
}

.bounty{
  margin-top: 12%;
  font-size: 5rem;
}

.posterText{
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.signButton{
  justify-content: space-between;
  display: flex;
  
}

.toCities, .addButton, .catchButton{
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  margin-top: 1.5rem;
  font-family: 'Unbounded', cursive;
  background-image: url('http://www.clker.com/cliparts/z/a/N/v/Y/J/sign-md.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 10rem;
  width: 13rem;
  text-align: center;
  margin-left: 10rem;
}

.addButton{
  margin-right: 0;
  margin-right: 20rem;
}
.catchButton{
  background-image: url('http://www.clker.com/cliparts/Y/g/u/i/Z/o/red-arrow-md.png');
  width: 15rem;
}

.catch{
  background-color: transparent;
  border: 0;
  margin-top: 2.5rem;
  font-size: 2.5rem;
  font-family: 'Unbounded', cursive;
}

.updateButton{
  height: 7rem;
  width: 8rem;
  margin-left: 8rem;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  background-image: url('https://www.jing.fm/clipimg/full/55-553284_blank-hanging-wooden-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.deleteButton{
  height: 7rem;
  width: 8rem;
  background-color: transparent;
  margin-left: 2rem;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  background-image: url('https://www.jing.fm/clipimg/full/55-553284_blank-hanging-wooden-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.formCard {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: auto;
  text-align: center;
  height: 70rem;
  width: 50rem;
  background-image: url('https://oakdome.com/k5/lesson-plans/photo-editing/wanted-poster/blank-wanted-poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 5px dashed rgba(104, 61, 0, 0.549);
  border-radius: 5rem;
}

.newCriminalImage{
  margin-left: 16rem;
  margin-top: 2rem;
  border: 5px solid;
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
  height: 370px;
  width: 260px;
  
}

.formLabel{
  float:left;
  padding-left: 2rem;
}

.formTextBox{
  float: left;
  margin-top: .5rem;
  margin-left: 1rem;
  background-color: transparent;
  border: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  background-color: rgba(104, 61, 0, 0.549);
  border: 0;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.formRange{
  float: left;
  margin-top: .5rem;
  margin-left: 5rem;
  width: 40rem;
}


.formCalendar{
  float: left;
  margin-top: .5rem;
  margin-left: 1rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  background-color: rgba(104, 61, 0, 0.549);
  border: 0;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.formCheckBox{
  float: left;
  margin-top: .5rem;
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}

.submitButton{
  background-color: rgba(104, 61, 0, 0.745);
  border: 0;
  border-radius: 5rem;
  font-size: 3rem;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
  border: 5px dashed rgb(104, 61, 0);
}

.submitButton:hover{
  background-color: rgb(104, 61, 0);
  border: 5px dashed rgb(104, 61, 0);
}

.formX{
  float: right;
  font-size: 3rem;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: transparent;
  border: 0;
  font-family: 'Permanent Marker', cursive;
}

.displayImage{
  height: 100%;
  width: 100%;
}

.jail{
  font-family: 'Unbounded', cursive;
  background-image: url('https://i.pinimg.com/originals/c6/db/66/c6db6625162239e4f897280d893c8634.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  height: 7rem;
  width: 15rem;
  margin-top: 3rem;
  margin-left: 6rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.jailBackground{
  background-image: url('https://wallpapercave.com/wp/wp4586991.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 5px solid;
  overflow: hidden;
  height: 60rem;
  width: 105rem;
  display: flex;
  float: left;
  margin-left: 7rem;
}

.folder{
  background-image: url('https://openclipart.org/image/2400px/svg_to_png/271918/blankYellowFolder.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-top: 2rem;
  height: 55rem;
  width: 70rem;
  /* border: 1px solid; */
  display: flex;
}

.leftFolder, .rightFolder{
  background-image: url('https://cdn.pixabay.com/photo/2013/07/12/17/57/document-152678_960_720.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 30rem;
  height: 40rem;
  margin-top: 8rem;
  margin-left: 4rem;
  /* border: 2px solid white; */
}

.rightFolder{
  text-align: left;
}

.jailImage{
  margin-top: 6rem;
  margin-left: 6rem;
  transform: rotate(-10deg);
  border: 5px solid;
  height: 20rem;
}

.jailText{
  margin-top: .5rem;
  margin-left: 4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.classified{
  font-family: 'Permanent Marker', cursive;
  color: red;
  font-size: 4rem;
  margin-left: 3rem;
  transform: rotate(10deg);
}

.jailHeader{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 5rem;
}

.backToCriminals{
  position: absolute;
  left: 10rem;
  background-image: url('https://www.netclipart.com/pp/f/6-67274_left-hand-arrow-transparent-png-clip-art-imageu200b.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: transparent;
  border: 0;
  height: 7rem;
  width: 10rem;
  font-size: 1rem;
  color: white;
  padding-bottom: 1rem;
}

.padding {
  padding: 4rem;
}

.badge{
  background-image: url('https://clipartcraft.com/images/police-badge-clipart-transparent-background-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 60rem;
  width: 50rem;
  margin: auto;
  margin-top: 10rem;
  /* border: 2px solid; */
}

.formDiv{
  position: relative;
}

.login, .signup{ 
  display: grid;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-top: 9rem;
}

.link{
  margin-left: 18rem;
}

.loginLabel{
  font-size: 2em;
  font-family: 'Unbounded', cursive;
}

.loginText{
  font-size: 2rem;
  font-family: 'Unbounded', cursive;
  border-radius: 1rem;
  padding-left: .5rem
}

.signupText{
  font-size: 1.5rem;
  font-family: 'Unbounded', cursive;
  border-radius: 1rem;
  padding-left: .5rem
}

.loginText:focus{
  background-color: grey;
  /* color:white; */
}

.loginButton{
  margin: auto;
  width: 12rem;
  height: 5rem;
  font-size: 3rem;
  border: 5px dashed;
  border-radius: 3rem;
  font-family: 'Unbounded', cursive;
  background-color: rgba(181, 109, 0, 0.612);
}

.loginButton:hover{
  background-color: rgb(181, 109, 0);
}

.car{
  background-image: url('https://bodyandpaintcenter.com/wp-content/uploads/2016/10/ThinkstockPhotos-541150412.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 60rem;
  width: 100rem;
  margin: auto;
  margin-top: 5rem;
  border: 1rem solid rgb(0, 0, 180);
}

.infoBar{
  width: 90rem;
  height: 15rem;
  border: 2rem solid;
  border-radius: 3rem;
  margin: auto;
  background-color: grey;
  display: flex;
}

.computer{
  height: 30rem;
  width: 50rem;
  border: 3rem solid;
  border-radius: 3rem;
  margin-left: 6rem;
  margin-top: 5rem;
  background-color: grey;
  display: flex;
  font-family: 'Unbounded', cursive;
}

.comp{
  display: flex;
  width: 100%;
}

.left{
  width: 50%;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.539);
}

.right{
  width: 50%;
  height: 100%;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.653);
  font-family: 'Unbounded', cursive;
  font-size: 1.5rem;
}

.gameImage{
  height: 15rem;
  width: 15rem;
  margin-left: 3.5rem;
  margin-top: 3rem;
  border: 1rem solid white;
}

.text{
  padding: .5rem;
}

.gameCatch{
  font-size: 3rem;
  font-family: 'Unbounded', cursive;
  background-color: rgb(255, 74, 74);
  border-radius: 1rem;
  margin-left: 8rem;
  margin-top: 3rem;
}

.logout{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-size: 3rem;
  font-family: 'Unbounded', cursive;
  margin-top: 13rem;
  margin-left: 6rem;
}
.bar {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(209, 209, 209, 0.501);
}

.gameBarImage{
  height: 13rem;
  border: 1rem solid rgb(101, 101, 101);
  margin-left: 2rem;
}

.barRight{
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  font-family: 'Unbounded', cursive;
}

.barText{
  padding: 1rem;
}

.backButton{
  font-family: 'Unbounded', cursive;
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  font-size: 3rem;
  margin-top: 20rem;
  margin-left: 8rem;
  background-color: rgb(0, 200, 255);
}

.boot{
  display: flex;
}

.here{
  background-color: transparent;
  border: 0;
  color: blue;
}

.here:hover{
  color: rgb(117, 121, 255);
}

.errorNot{
  background-color: red;
  width: 20rem;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  color: white;
  border-radius: 5rem;
  border: 5px solid red;
}

.errButton{
  float: right;
  background-color: transparent;
  color: white;
  border:0
}

.likeBut{
  margin-left: 16rem;
  margin-top: 1rem;
  background: rgba(130, 80, 0, 0.573);
  border-radius: 5rem;
  font-size: 2rem;
}

.correct, .wrong{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Unbounded', cursive;
  position: absolute;
  font-size: 9rem;
  height: 30rem;
  width: 50rem;
  margin: auto;
  text-align: center;
  border-radius: 20rem;
  background-color: rgb(150, 250, 0);
  top: 30%;
  left: 28%;
}

.wrong{
  background-color: red;
}

.corrBut, .wroBut {
  font-size: 3rem;
  height: 4rem;
  width: 3rem;
  background-color: transparent;
  border: 0;
}
.corrText, .wroText{
  margin-top: 10%;
  margin-left: 3rem;
  /* border: 1rem solid; */
}

.wroText{
  margin-left: 5rem;
}
/* ================================================================================================================================ */
.welcomePageBackground2{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage2{
  width: 55rem;
  height: 35rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header2{
  font-size: 2.5rem;
  margin-top: 3rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 45rem;
  margin-left: 8%;
}
.X2{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader2{
  font-family: 'Unbounded', cursive;
  width: 45rem;
  margin-left: 11%;
  font-size: 1.5rem;
  color: white;
}

.rules2{
  font-family: 'Unbounded', cursive;
  width: 45rem;
  margin-left: 11%;
  font-size: 1.5rem;
  color: white;
  padding-top: .5rem;
}

.instruction2{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 60%;
  margin-left: 25%;
}

.title2{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 5rem;
  font-weight: bold;
}

.city2{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard2{
  width: 45rem;
  height: 25rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName2{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 3.5rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton2{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 4rem;
  height: 14rem;
  width: 23rem;
  background-color: transparent;
  border: 0;
}

.cityPopulation2{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
}

.button2{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
}

.criminalCard2{
  background-image: url('https://media.istockphoto.com/vectors/wood-texture-background-illustration-vector-vector-id1191803750?k=6&m=1191803750&s=612x612&w=0&h=WaDKJNob9uIuDUuywyUExCFdueZOTn3QpYgVL7IOxwA=');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 5px solid;
  height: 55rem;
  width: 70rem;
  display: flex;
  margin-left: 5rem;
}

.criminalCard2::-webkit-scrollbar{
  width: 5;
}
.wantedPoster2{
  text-align: center;
  position: relative;
  height: 35rem;
  width: 26rem;
  justify-content: space-between;
  text-align: center;
  display: flex;
  margin-left: 3rem;
}


.card2{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card2:hover {
  transform: rotateY(180deg)
}

.front2, .back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front2{
  background-image: url('https://i.pinimg.com/originals/97/c1/fb/97c1fb00d62209f4b7646327cffe1405.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

.back2{
  background-image: url('https://oakdome.com/k5/lesson-plans/photo-editing/wanted-poster/blank-wanted-poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transform: rotateY(180deg);
  border: 5px solid rgb(138, 90, 0);
  padding: .5rem;
  font-family: 'Permanent Marker', cursive;
  overflow: auto;
}

.back2::-webkit-scrollbar{
  width: 0;
}

.image2{
  margin-top: 8rem;
  height: 14rem;
  width: 20rem;
  border: 5px solid rgb(138, 90, 0);
}

.bounty2{
  margin-top: 12%;
  font-size: 3.5rem;
}

.posterText2{
  font-size: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.signButton2{
  justify-content: space-between;
  display: flex;
  
}

.toCities2, .addButton2, .catchButton2{
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  margin-top: 1.5rem;
  margin-left: 3rem;
  font-family: 'Unbounded', cursive;
  background-image: url('http://www.clker.com/cliparts/z/a/N/v/Y/J/sign-md.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 6rem;
  width: 8rem;
  text-align: center;
}

.addButton2{
  margin-right: 0;
}
.catchButton2{
  background-image: url('http://www.clker.com/cliparts/Y/g/u/i/Z/o/red-arrow-md.png');
  width: 10rem;
}

.catch2{
  background-color: transparent;
  border: 0;
  margin-top: 1.2rem;
  font-size: 2rem;
  font-family: 'Unbounded', cursive;
}

.updateButton2{
  height: 7rem;
  width: 8rem;
  margin-left: 7rem;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  background-image: url('https://www.jing.fm/clipimg/full/55-553284_blank-hanging-wooden-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.jail2{
  font-family: 'Unbounded', cursive;
  background-image: url('https://i.pinimg.com/originals/c6/db/66/c6db6625162239e4f897280d893c8634.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  height: 5rem;
  width: 10rem;
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.likeBut2{
  margin-left: 14rem;
  margin-top: 1rem;
  background: rgba(130, 80, 0, 0.573);
  border-radius: 5rem;
  font-size: 2rem;
}
/* ================================================================================================================================ */
.welcomePageBackground3{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.welcomePage3{
  width: 35rem;
  height: 20rem;
  margin: auto;
  background-image: url('https://clipground.com/images/chalk-board-clipart-14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  text-align: cover;
}

.header3{
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  /* border: 2px solid; */
  width: 25rem;
  margin-left: 9%;
}
.X3{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: white;
  background-color: transparent;
  border: 0;
  float: right; 
}

.rulesHeader3{
  font-family: 'Unbounded', cursive;
  width: 25rem;
  margin-left: 11%;
  font-size: 1rem;
  color: white;
}

.rules3{
  font-family: 'Unbounded', cursive;
  width: 24rem;
  margin-left: 11%;
  font-size: .9rem;
  color: white;
  padding-top: .3rem;
}

.instruction3{
  background-image: url('https://vectorified.com/images/rectangle-button-icon-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 10rem;
  width: 20rem;
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  margin-top: 13rem;
  margin-left: -8rem;
}

.title3{
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 4rem;
  font-weight: bold;
}

.city3{
  /* border: 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.cityCard3{
  width: 25rem;
  height: 20rem;
  border: 10px dashed black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/285/092/large_2x/cartoon-city-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.cityName3{
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 2rem;
  /* border: 2px solid white; */
  width: 100%;
}

.goButton3{
  background-image: url('https://pluspng.com/img-png/arrow-png-no-background-green-arrow-transparent-background-4050.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  font-family: 'Unbounded', cursive;
  color: yellow;
  font-size: 3rem;
  height: 10rem;
  width: 20rem;
  background-color: transparent;
  border: 0;
  margin-top: 10%;
}

.cityPopulation3{
  margin-top: 0%;
  font-family: 'Unbounded', cursive;
  color: orange;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.486);
}

.button3{
  position: absolute;
  margin-left: 50%;
  left: -15rem;
  top: -6rem;
}

.criminalCard3{
  background-image: url('https://media.istockphoto.com/vectors/wood-texture-background-illustration-vector-vector-id1191803750?k=6&m=1191803750&s=612x612&w=0&h=WaDKJNob9uIuDUuywyUExCFdueZOTn3QpYgVL7IOxwA=');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 5px solid;
  overflow-x: auto;
  height: 45rem;
  width: inherit;
  display: flex;
}

.criminalCard3::-webkit-scrollbar{
  width: 5;
}
.wantedPoster3{
  text-align: center;
  position: relative;
  height: 25rem;
  width: 18rem;
  text-align: center;
  display: flex;
  margin-left: 4rem;
}


.card3{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card3:hover {
  transform: rotateY(180deg)
}

.front3, .back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front3{
  background-image: url('https://i.pinimg.com/originals/97/c1/fb/97c1fb00d62209f4b7646327cffe1405.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

.back3{
  background-image: url('https://oakdome.com/k5/lesson-plans/photo-editing/wanted-poster/blank-wanted-poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transform: rotateY(180deg);
  border: 5px solid rgb(138, 90, 0);
  font-family: 'Permanent Marker', cursive;
  overflow: auto;
}

.back3::-webkit-scrollbar{
  width: 0;
}

.image3{
  margin-top: 5.5rem;
  height: 10rem;
  width: 14rem;
  border: 5px solid rgb(138, 90, 0);
}

.bounty3{
  margin-top: 12%;
  font-size: 2.5rem;
}

.posterText3{
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.signButton3{
  justify-content: space-between;
  display: flex;
  
}

.toCities3, .addButton3, .catchButton3{
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  margin-top: 1.5rem;
  font-family: 'Unbounded', cursive;
  background-image: url('http://www.clker.com/cliparts/z/a/N/v/Y/J/sign-md.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 4rem;
  width: 5rem;
  text-align: center;
}

.addButton3{
  margin-right: 0;
}
.catchButton3{
  background-image: url('http://www.clker.com/cliparts/Y/g/u/i/Z/o/red-arrow-md.png');
  width: 7rem;
}

.catch3{
  background-color: transparent;
  border: 0;
  margin-top: .8rem;
  font-size: 1.3rem;
  font-family: 'Unbounded', cursive;
}

.updateButton3{
  height: 7rem;
  width: 8rem;
  margin-left: 4rem;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  background-image: url('https://www.jing.fm/clipimg/full/55-553284_blank-hanging-wooden-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.jail3{
  font-family: 'Unbounded', cursive;
  background-image: url('https://i.pinimg.com/originals/c6/db/66/c6db6625162239e4f897280d893c8634.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  height: 3rem;
  width: 5rem;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.likeBut3{
  margin-left: 11.5rem;
  margin-top: 1rem;
  background: rgba(130, 80, 0, 0.573);
  border-radius: 5rem;
  font-size: 2rem;
}